name: release
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: get Minecraft version
        uses: BrycensRanch/read-properties-action@v1
        id: minecraft_version
        with:
          file: gradle.properties
          property: minecraft_version
      - name: Publish
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          files: build/libs/!(*-@(dev|sources|javadoc)).jar
          game-versions: ${{ steps.minecraft_version.outputs.minecraft_version }}
          game-version-filter: none
          modrinth-id: EyDzmyQr
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}